.git
.github
.vscode
coverage
node_modules
!node_modules/axios
lib
tests

yarn.lock
yarn-error.log
package-lock.json

.editorconfig
*eslint*
*prettier*
CHANGELOG.md

.gitignore
.npmignore
.npmrc

tsconfig.json

.env*

*.map